.card{
    max-width: 20rem;
    
}



.cartes-milieu{
    padding: 1rem;
    display: flex;
    flex-direction: column;

    &__1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.mcarte{
    flex: 1 0 0;
    max-width: 20rem;
}



.carte{
    flex: 1 0 0;
    max-width: 7rem;
   

}